In [38]:
# Initial imports
import pandas as pd
import numpy as np
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier

In [39]:
# Loading data
file_path = Path("/Users/hunter/Desktop/Data_Class/module_17/17-7-2-decision_tree 2/Resources/loans_data_encoded.csv")
df_loans = pd.read_csv(file_path)
df_loans.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [40]:
# Define the features set.
X = df_loans.copy()
X = X.drop("bad", axis=1)
X.head()

,amount,term,age,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,6,0,1,0,0,0,1
1,1000,30,50,7,1,0,0,0,1,0
2,1000,30,33,8,1,0,0,0,1,0
3,1000,15,27,9,0,0,0,1,0,1
4,1000,30,28,10,0,0,0,1,1,0

In [41]:
# Define the target set.
y = df_loans["bad"].values
y[:5]

array([0, 0, 0, 0, 0])

In [42]:
# split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [43]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(375, 10)
(125, 10)
(375,)
(125,)

In [44]:
# Splitting into Train and Test sets into an 80/20 split. (maual split)
#X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, random_state=78, train_size=0.80)

In [45]:
# Determine the shape of our training and testing sets.
#print(X_train2.shape)
#print(X_test2.shape)
#print(y_train2.shape)
#print(y_test2.shape)

In [46]:
# Creating a StandardScaler instance.
scaler = StandardScaler()

In [47]:
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

In [48]:
# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [49]:
# determine mean and the standard deviation of the first column of the scaled data
np.mean(X_train_scaled[:,0])
np.mean(X_test_scaled[:,0])
np.std(X_train_scaled[:,0])
np.std(X_test_scaled[:,0])

0.8450480061575104

In [50]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [51]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)
print(predictions)

[1 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 1 1 1 1 0 1 1 0 0 1 0 1 1 0 1 0 0 0 0 1 0
 1 0 1 0 0 0 1 0 0 1 1 0 0 0 1 0 1 1 1 1 1 1 0 0 1 0 1 0 1 1 0 0 0 1 1 0 0
 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0
 0 1 0 1 0 1 1 0 0 1 0 0 1 0]

In [52]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           53           31
Actual 1           21           20

In [53]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
print(acc_score)

0.584

In [54]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           53           31
Actual 1           21           20

Accuracy Score : 0.584
Classification Report
              precision    recall  f1-score   support

           0       0.72      0.63      0.67        84
           1       0.39      0.49      0.43        41

    accuracy                           0.58       125
   macro avg       0.55      0.56      0.55       125
weighted avg       0.61      0.58      0.59       125